.slideOne {

}

.divSlides {
  height: 90px;
}

.swiper-pagination-bullet-active {
  background-color: #050038 !important;
  width: 30px;
  border-radius: 1px;
  height: 3px;
}

.swiper-pagination-bullet {
  background-color: #050038 !important;
  width: 30px;
  border-radius: 1px;
  height: 3px;
}