* {
  margin: 0;
  padding: 0;
}

.containerNavbar {
  width: 100%;
  max-width: 1400px;
  background-color: #FCFCEE;
  height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  .logoNavbar {
    margin-left: 10px;
  }

  .btnCard {
    display: none;
  }

  .linksNavbar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 40px;

    .linkNavbar {
      font-size: 16px;
      color: #53504A;
      text-decoration: none;
      font-family: "Rubik", sans-serif;
      font-weight: 500;
      white-space: nowrap;
    }
  }



  .buttonNavbar {
    margin-left: auto;
    margin-right: 10px;
    background-color: #E05F38;
    border: none;
    width: 196px;
    height: 54px;
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 1000px;

    .imageBtnBlock {
      width: 34px;
      height: 34px;
      border-radius: 1000px;
      background-color: #FFFFFA;
      margin-left: 10px;
      display: flex;
      justify-content: center;
      align-items: center;

      .iconNavbar {
        width: 18.7px;
        height: 17.85px;
      }
    }

    .orderABookText {
      color: #FCFCEE;
      font-family: "Rubik", sans-serif;
      font-weight: 500;
      font-size: 16px;
    }
  }

  .logoNavbarMini {
    display: none;
  }
}

@media screen and (max-width: 986px) {
  .logoNavbar {
    display: none;
  }

  .linkNavbar {
    display: none;
  }

  .containerNavbar .logoNavbarMini {
    display: block;
  }
  
  .containerNavbar .btnCard {
    display: block;
    margin-left: 10px;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    border: none;
    background-color: #F4F4E3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }

  .btnNav { 
    display: none;
  }
}